body {
  background-image: url(img/fondo\ d\ azuel.jfif);
  background-size: cover;
  background-repeat: no-repeat;
}
.texto {
  font-size: 40px;
}
.reiniciar {
  background-color: rgb(195, 28, 181);
  margin-left: 950px;
  margin-top: 200px;
  font-size: 25px;
}
.capa{
  position: absolute;
  width: 550px; 
  margin-top: -275px;
  left: 50%;
  height: 550px;
  top: 50%;
  margin-left: -275px;
  background-color: rgba(211, 0, 0, 0);
}
#capa{
display: none;
}
.btns {
  position: absolute;
  width: 550px;
  margin-top: -275px;
  left: 50%;
  height: 550px;
  top: 50%;
  margin-left: -275px;
  background-color: rgb(21, 21, 21);

}
.btn {
  width: 150px;
  font-size: 100px;
  position: absolute;
  height: 150px;
  border: none;
  background-color: rgb(92, 31, 167);
  text-align: center;
  cursor: pointer;
}
.btn:hover {
  background-color: rgb(174, 100, 235);
}

.gane{
font-size: 40px;
position: absolute;
top: 200px;
}

.empate{
font-size: 40px;
position: absolute;
top: 200px;
}

.mostrar{
  font-size: 40px;
  position: absolute;
  top: 150px;
}


#b00 {
  top: 25px;
  left: 25px;
}
#b01 {
  top: 25px;
  left: 200px;
}
#b02 {
  top: 25px;
  left: 375px;
}
#b10 {
  top: 200px;
  left: 25px;
}
#b11 {
  top: 200px;
  left: 200px;
}
#b12 {
  top: 200px;
  left: 375px;
}
#b20 {
  top: 375px;
  left: 25px;
}
#b21 {
  top: 375px;
  left: 200px;
}
#b22 {
  top: 375px;
  left: 375px;
}
